body {
    background-color: #FFC0CB; /* rosa claro */
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  
  h1 {
    color: #FF1493; /* rosa escuro */
    text-align: center;
  }
  
  form {
    margin: 20px auto;
    width: 50%;
    padding: 20px;
    background-color: #FFF8DC; /* amarelo claro */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #FFE4B5; /* sombra clara */
  }
  
  label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FF69B4; /* rosa médio */
  }
  
  input[type="text"] {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #FFFACD; /* amarelo médio */
    box-shadow: 0px 0px 5px 2px #FFDAB9; /* sombra clara */
  }
  
  button[type="submit"] {
    display: block;
    margin: 20px auto 0px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #FF69B4; /* rosa médio */
    color: #FFFFFF; /* branco */
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px #FF1493; /* sombra escura */
    transition: background-color 0.5s;
  }
  
  button[type="submit"]:hover {
    background-color: #FF1493; /* rosa escuro */
  }
  
  button[type="submit"].spin {
    animation: spin 3s linear;
  }
  
  #result {
    margin: 20px auto;
    width: 50%;
    padding: 20px;
    background-color: #FFF8DC; /* amarelo claro */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #FFE4B5; /* sombra clara */
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #FF69B4; /* rosa médio */
  }
  
  /* Adicione estas linhas ao final do seu arquivo CSS */
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .spin {
    animation: spin 3s linear;
  }
  